# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


/Components/ble
/Components/hal
/Components/services
/Components/osal/mcu
/Documents

/Projects/ble/BloodPressure
/Projects/ble/common
/Projects/ble/config
/Projects/ble/HeartRate
/Projects/ble/HostTestApp
/Projects/ble/Libraries
/Projects/ble/Include
/Projects/ble/SimpleBLEBroadcaster
/Projects/ble/SimpleBLECentral
/Projects/ble/SimpleBLEObserver
/Projects/ble/SimpleBLEPeripheral/CC2540DB
/Projects/ble/SimpleBLEPeripheral/CC2541DB

/Projects/ble/Profiles/Accelerometer/
/Projects/ble/Profiles/Batt
/Projects/ble/Profiles/CSC
/Projects/ble/Profiles/BloodPressure
/Projects/ble/Profiles/DevInfo
/Projects/ble/Profiles/Glucose
/Projects/ble/Profiles/HeartRate
/Projects/ble/Profiles/HIDDev
/Projects/ble/Profiles/HIDDevKbd
/Projects/ble/Profiles/HIDDevKbM
/Projects/ble/Profiles/Keys
/Projects/ble/Profiles/OAD
/Projects/ble/Profiles/Roles
/Projects/ble/Profiles/Proximity
/Projects/ble/Profiles/RSC
/Projects/ble/Profiles/ScanParam
/Projects/ble/Profiles/SensorProfile
/Projects/ble/Profiles/Thermometer
Components/osal/common/osal_bufmgr.c
Components/osal/common/osal_cbtimer.c
Components/osal/common/OSAL_Memory.c
Components/osal/include/OSAL_Tasks.h
Components/osal/common/OSAL_Timers.c
Components/osal/include/comdef.h
Components/osal/include/ZComDef.h
Components/osal/common/OSAL_PwrMgr.c
Components/osal/common/OSAL_ClockBLE.c
Components/osal/include/osal_cbtimer.h
Components/osal/include/osal_bufmgr.h
Components/osal/include/OSAL_Clock.h
Components/osal/include/OSAL_Memory.h
Components/osal/include/OSAL_Nv.h
Components/osal/include/OSAL_PwrMgr.h
Components/osal/include/OSAL_Timers.h
Components/osal/include/osal_snv.h